<div>
  <div id="title">
    <h1><strong>Sources</strong></h1>
  </div>
  <mat-accordion *ngIf="!!feeds && feeds.length > 0">
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" *ngFor="let feed of feeds">
      <mat-expansion-panel-header>
        <mat-panel-title class="mat-h3" *ngIf="!!feed.title">
          <mat-icon class="custom-icon" aria-hidden="false" aria-label="list icon">history_edu</mat-icon>
          {{feed.title | slice:8:feed.title.length}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <section class="list" *ngFor="let category of feed.categories">
        <mat-checkbox color="accent" [(ngModel)]="category.completed" (ngModelChange)="updateAllComplete(feed)">
          {{category.name}}
        </mat-checkbox>
      </section>
      <section class="list">
        <mat-checkbox color="primary" [checked]="feed.allComplete" [indeterminate]="someComplete(feed)"
          (change)="setAll($event.checked, feed)">
          All
        </mat-checkbox>
      </section>
    </mat-expansion-panel>
  </mat-accordion>
</div>