/* You can add global styles to this file, and also import other style files */

button.hide-background {
  background: Transparent no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

section.list {
  margin-left: 10%;
}

.mat-paginator#paginator {
  position: fixed;
  bottom: 0px;
  display: flex;
  width: 100%;
  justify-content: center;
}